*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  width: 100%;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 1rem;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 18px;
}

button {
  font-weight: bold;
  color: #fff;
  background-color: #3882f6;
  border: 0;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin: 1rem auto;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

header,
.hero {
  background-color: #1f2937;
  color: #fff;
  margin: 0;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      padding: 0rem 1rem;
    }
  }
}

.hero .content {
  display: flex;
  gap: 1rem;

  > div {
    flex: 1;
  }

  p {
    color: #e5e7eb;
  }
}

footer {
  background-color: lightgrey;
  text-align: center;
}
